<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.snail.web.modules.article.mapper.ArticleTypeMapper">
    <delete id="deleteRecord">
        update ms_article_type set is_deleted = 1  where id = #{id}
    </delete>

    <select id="count" resultType="java.lang.Integer">
            select count(1) from `ms_article_type` atype
            left join  `ms_article_type` patype on atype.parent_id = patype.id
        where 1=1 and atype.is_deleted != 1
        <if test="name != null">
            and instr( atype.name,#{name}) > 0
        </if>
        <if test="code != null">
            and instr(atype.code,#{code}) > 0
        </if>
        <if test="type != null">
            and atype.type = #{type}
        </if>
        <if test="param != null">
            and atype.param = #{param}
        </if>
        <if test="parentId != null">
            and atype.parent_id = #{parentId}
        </if>
        <if test = "status != null">
            and instr(atype.status,#{status}) > 0
        </if>
        <if test=" level != null">
            and instr(atype.level,#{level}) > 0
        </if>
        <if test=" parentCode != null">
            and patype.code = #{parentCode}
        </if>
        <if test=" parentType != null">
            and patype.type = #{parentType}
        </if>

    </select>

    <select id="page" resultType="com.snail.web.modules.article.dto.entity.ArticleType">
        select atype.id, atype.name, atype.order_number as orderNumber,atype.code,atype.status,atype.desc,atype.type,atype.param,atype.level,
        atype.parent_id as parentId,
        patype.code as parentCode,
        patype.name as parentName,
        atype.created_time as createdTime, atype.updated_time as updatedTime
        from `ms_article_type` atype
        left join  `ms_article_type` patype on atype.parent_id = patype.id
        where 1=1 and atype.is_deleted != 1
        <if test="name != null">
            and instr( atype.name,#{name}) > 0
        </if>
        <if test="code != null">
            and instr(atype.code,#{code}) > 0
        </if>
        <if test="type != null">
            and atype.type = #{type}
        </if>
        <if test="param != null">
            and atype.param = #{param}
        </if>
        <if test="parentId != null">
            and atype.parent_id = #{parentId}
        </if>
        <if test = "status != null">
            and instr(atype.status,#{status}) > 0
        </if>
        <if test=" level != null">
            and instr(atype.level,#{level}) > 0
        </if>
        <if test=" parentCode != null">
            and patype.code = #{parentCode}
        </if>
        <if test=" parentType != null">
            and patype.type = #{parentType}
        </if>
        order by atype.order_number desc,patype.name asc, atype.name asc
        limit #{start},#{pageSize}
    </select>
    <select id="getArticleType" resultType="com.snail.web.modules.article.dto.entity.ArticleType">
        select atype.id, atype.name,atype.code,atype.status,atype.desc,atype.type,atype.param,atype.level,atype.parent_id as parentId,atype.created_time as createdTime, atype.updated_time as updatedTime
        from `ms_article_type` atype
        left join  `ms_article_type` patype on atype.parent_id = patype.id
        where 1=1 and atype.is_deleted != 1
        <if test="name != null">
            and instr( atype.name,#{name}) > 0
        </if>
        <if test="code != null">
            and atype.code = #{code}
        </if>
        <if test="type != null">
            and atype.type = #{type}
        </if>
        <if test="param != null">
            and atype.param = #{param}
        </if>
        <if test="parentId != null">
            and atype.parent_id = #{parentId}
        </if>
        <if test = "status != null">
            and atype.status = #{status}
        </if>
        <if test=" level != null">
            and atype.level = #{level}
        </if>
        <if test=" parentCode != null">
            and patype.code = #{parentCode}
        </if>
        <if test=" parentType != null">
            and patype.type = #{parentType}
        </if>
        limit 0,1
    </select>
</mapper>
