<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.snail.web.modules.article.mapper.ArticleMapper">
    <delete id="deleteRecord">
        update ms_article set is_deleted = 1  where id = #{id}
    </delete>

    <select id="count" resultType="java.lang.Integer">
            select count(1)
        from `ms_article` atl
        left join ms_article_type mat on mat.id = atl.first_type_id
        left join ms_article_type mat2 on mat2.id = atl.second_type_id
        left join front_user fu on fu.id = atl.created_by
        where 1=1 and atl.is_deleted != 1
        <if test = "keyWord != null">
            and instr( atl.title,#{keyWord}) > 0 or  instr( atl.content,#{keyWord}) > 0
        </if>
        <if test = " id != null ">
            and atl.id = #{id}
        </if>
        <if test="username != null">
            and instr( fu.username,#{username}) > 0
        </if>
        <if test="title != null">
            and instr( atl.title,#{title}) > 0
        </if>
        <if test="content != null">
            and instr( atl.content,#{content}) > 0
        </if>
        <if test="contentText != null">
            and instr( atl.content_text,#{contentText}) > 0
        </if>
        <if test="firstTypeId != null">
            and instr( atl.first_type_id,#{firstTypeId}) > 0
        </if>
        <if test="secondTypeId != null">
            and  atl.second_type_id = #{secondTypeId}
        </if>
        <if test="startTime != null">
            and atl.publish_time &gt;= #{startTime}
        </if>
        <if test="endTime != null">
            and atl.publish_time &lt;= #{endTime}
        </if>

        <if test = "status != null">
            and atl.status = #{status}
        </if>



        <if test = "firstTypeName != null">
            and instr(mat.name,#{firstTypeName})
        </if>
        <if test = "secondTypeName != null">
            and instr(mat2.name,#{secondTypeName})
        </if>
        <if test = "firstTypeCode != null">
            and mat.code = #{firstTypeCode}
        </if>
        <if test = "secondTypeCode != null">
            and mat2.code = #{secondTypeCode}
        </if>
        <if test = "createdBy != null">
            and atl.created_by = #{createdBy}
        </if>
    </select>

    <select id="page" resultType="com.snail.web.modules.article.dto.entity.Article">
        select
        atl.id,
        atl.title,
        atl.first_type_id as firstTypeId,
        mat.name as firstTypeName,
        atl.second_type_id as secondTypeId,
        mat2.name as secondTypeName,
        atl.source,
        atl.image_url as imageUrl,
        atl.type,
        atl.status,
        atl.is_deleted as isDeleted,
        atl.publish_time as publishTime,
        atl.summary,
        fu.username as username,
        atl.created_by as createdBy,
        atl.content as content,
        atl.content_text as contentText
        from `ms_article` atl

        left join ms_article_type mat on mat.id = atl.first_type_id
        left join ms_article_type mat2 on mat2.id = atl.second_type_id
        left join front_user fu on fu.id = atl.created_by
        where 1=1 and atl.is_deleted != 1
        <if test = "keyWord != null">
            and instr( atl.title,#{keyWord}) > 0 or  instr( atl.content,#{keyWord}) > 0
        </if>
        <if test = " id != null ">
            and atl.id = #{id}
        </if>
        <if test="username != null">
            and instr( fu.username,#{username}) > 0
        </if>
        <if test="title != null">
            and instr( atl.title,#{title}) > 0
        </if>
        <if test="content != null">
            and instr( atl.content,#{content}) > 0
        </if>
        <if test="contentText != null">
            and instr( atl.content_text,#{contentText}) > 0
        </if>
        <if test="firstTypeId != null">
            and instr( atl.first_type_id,#{firstTypeId}) > 0
        </if>
        <if test="secondTypeId != null">
            and  atl.second_type_id = #{secondTypeId}
        </if>
        <if test="startTime != null">
            and atl.publish_time &gt;= #{startTime}
        </if>
        <if test="endTime != null">
            and atl.publish_time &lt;= #{endTime}
        </if>

        <if test = "status != null">
            and atl.status = #{status}
        </if>
        <if test = "firstTypeName != null">
            and instr(mat.name,#{firstTypeName})
        </if>
        <if test = "secondTypeName != null">
            and instr(mat2.name,#{secondTypeName})
        </if>
        <if test = "firstTypeCode != null">
            and mat.code = #{firstTypeCode}
        </if>
        <if test = "secondTypeCode != null">
            and mat2.code = #{secondTypeCode}
        </if>

        <if test = "createdBy != null">
            and atl.created_by = #{createdBy}
        </if>



        limit #{start},#{pageSize}
    </select>

    <select id="getArticle" resultType="com.snail.web.modules.article.dto.entity.Article">
        select
        atl.id,
        atl.title,
        atl.first_type_id as firstTypeId,
        mat.name as firstTypeName,
        atl.second_type_id as secondTypeId,
        mat2.name as secondTypeName,
        atl.source,
        atl.image_url as imageUrl,
        atl.type,
        atl.status,
        atl.is_deleted as isDeleted,
        atl.publish_time as publishTime,
        atl.summary,
        fu.username as username,
        atl.created_by as createdBy,
        atl.content as content,
        atl.content_text as contentText
        from `ms_article` atl

        left join ms_article_type mat on mat.id = atl.first_type_id
        left join ms_article_type mat2 on mat2.id = atl.second_type_id
        left join front_user fu on fu.id = atl.created_by
        where 1=1 and atl.is_deleted != 1
        <if test = " id != null ">
            and atl.id = #{id}
        </if>
        <if test="username != null">
            and instr( fu.username,#{username}) > 0
        </if>
        <if test="title != null">
            and atl.title = #{title}
        </if>
        <if test="firstTypeId != null">
            and atl.first_type_id =#{firstTypeId}
        </if>
        <if test="startTime != null">
            and atl.publish_time &gt;= #{startTime}
        </if>
        <if test="endTime != null">
            and atl.publish_time  &lt;= #{endTime}
        </if>

        <if test = "status != null">
            and atl.status = #{status}
        </if>
        <if test="content != null">
            and instr( atl.content,#{content}) > 0
        </if>
        <if test="contentText != null">
            and instr( atl.content_text,#{contentText}) > 0
        </if>

        <if test = "firstTypeName != null">
            and instr(mat.name,#{firstTypeName})
        </if>
        <if test = "secondTypeName != null">
            and instr(mat2.name,#{secondTypeName})
        </if>
        <if test = "firstTypeCode != null">
            and mat.code = #{firstTypeCode}
        </if>
        <if test = "secondTypeCode != null">
            and mat2.code = #{secondTypeCode}
        </if>
        limit 0,1
    </select>
</mapper>
