<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.snail.web.modules.setting.mapper.SettingMapper">
    <update id="update">
        update setting
    </update>
    <update id="updateSetting">
        update setting set content = #{content},
         flag = #{flag},
         warning_text = #{warningText},
         logo_text = #{logoText},
         keywords = #{keywords},
         protocal = #{protocal},
         friend_links = #{friendLinks},
         primary_color = #{primaryColor},
         sensitive_words = #{sensitiveWords}
        where id = #{id}
    </update>


    <select id="getSetting" resultType="com.snail.web.modules.setting.dto.entity.Setting">
        select id,
        content,
        flag,
        warning_text as warningText,
        logo_text as logoText,
        keywords,
        protocal,
        friend_links as friendLinks,
        primary_color as primaryColor,
        sensitive_words as sensitiveWords,
        created_time as createdTime,
        updated_time as updatedTime
        from setting  where 1=1
        <if test="flag != null">
           and  flag = #{flag}
        </if>
        order by updated_time desc, created_time desc

    </select>
</mapper>
